<% layout("layouts/boilerplate") %>
<h1><%= category.name %></h1>
<div class="show-container">
  <p><strong>Description: </strong><%= category.description %></p>
</div>
<br />
<% if (products.length) { %>
<div class="product-grid-container">
  <% for (product of products) {%>
  <a href="<%= product.url %>">
    <div class="product-image-wrapper">
      <img class="product-image" src="/images/<%= product.image %>" alt="<%= product.name %>"/>
    </div>
    <h3><%= product.name %></h3>
    <h2>$<%= product.price.toFixed(2) %></h2>
  </a>
  <% } %>
</div>
<% } else {%>
  <h2 style="margin: 10px auto; width: fit-content; font-size: 1.3rem">There are no products with this category yet</h2>
<% } %>
</div>
<div class="button-container">
  <a class="link-button bg-blue" href="/categories/<%= category._id %>/edit">Edit</a>
  <a class="link-button bg-red" href="/categories/<%= category._id %>/delete">Delete</a>
</div>