<% layout("layouts/boilerplate") %>
<h1><%= product.name %></h1>
<div class="show-container">
  <div>
    <p><strong>Price:</strong> $<%= product.price.toFixed(2) %></p>
    <p><strong>Stock: </strong><%= product.quantity %></p>
  </div>
  
  <p>
    <strong>Category: </strong
    ><a href="<%= product.category.url %>"><%= product.category.name %></a>
  </p>
  <p><%= product.description %></p>
</div>
<div class="button-container">
  <a class="link-button bg-blue" href="/products/<%= product._id %>/edit">Edit</a>
  <form method="POST" action="/products/<%= product._id %>/delete?_method=DELETE">
    <button class="button bg-red" type="submit">Delete</button>
  </form>
</div>